.grid { 
  border-collapse: collapse;
  margin-left: 10%;
}
.grid td {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}

.grid-container {
  margin-top: 30px;
}

.color-palette {
  margin-top: 30px;
}

.btn {
  display: block;
  margin-top: 10px;
}

.dimensions {
  display: inline;
  height: 40px;
  width: 65px;
}

.gauge {
  display: inline;
  height: 40px;
  width: 65px;
}

.color-name {
  height: 54px;
}

.hr {
  color: #CCC;
  background: #555; 
  width: 100%; 
  height: 3px;
}

.radio {

}



